/cache/
/.venv/

__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

/hidden_states/
/steering_vectors/
/images/
/ckpt/


/datasets_llm/raw/
/CAA/vectors/
/CAA/normalized_vectors/
/CAA/activations/
/CAA/analysis/
/CAA/results/
/CAA/external_vectors/

/concept_flipping/vectors/

scores.tar.gz

/latex/output

/exp/results/
/exp/local/
/exp/logs/

/notebooks/